[submodule "dependencies/netDxf"]
	path = dependencies/netDxf
	url = https://github.com/wieslawsoltes/netdxf.git
[submodule "dependencies/PDFsharp"]
	path = dependencies/PDFsharp
	url = https://github.com/wieslawsoltes/PDFsharp.git
