[submodule "dependencies/netDxf"]
	path = dependencies/netDxf
	url = https://github.com/Core2D/netdxf.git
[submodule "dependencies/PDFsharp"]
	path = dependencies/PDFsharp
	url = https://github.com/Core2D/PDFsharp.git
