<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="api.nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="avalonia-all" value="https://nuget.avaloniaui.net/repository/avalonia-all/index.json" />
    <add key="avaloniathememanager-nightly" value="https://www.myget.org/F/avaloniathememanager-nightly/api/v3/index.json" />
    <add key="dock-nightly" value="https://www.myget.org/F/dock-nightly/api/v3/index.json" />
    <add key="panandzoom-nightly" value="https://www.myget.org/F/panandzoom-nightly/api/v3/index.json" />
    <add key="reactivehistory-nightly" value="https://www.myget.org/F/reactivehistory-nightly/api/v3/index.json" />
    <add key="spatial-nightly" value="https://www.myget.org/F/spatial-nightly/api/v3/index.json" />
    <add key="svgskia-nightly" value="https://www.myget.org/F/svgskia-nightly/api/v3/index.json" />
    <add key="themeeditor-nightly" value="https://www.myget.org/F/themeeditor-nightly/api/v3/index.json" />
    <add key="xamlbehaviors-nightly" value="https://www.myget.org/F/xamlbehaviors-nightly/api/v3/index.json" />
    <add key="nightly" value="https://pkgs.dev.azure.com/wieslawsoltes/GitHub/_packaging/Nightly/nuget/v3/index.json" />
  </packageSources>
</configuration>
