<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="lz4net" version="1.0.5.93" targetFramework="net45" />
  <package id="Microsoft.CodeAnalysis.Analyzers" version="1.0.0-rc3-20150520-04" targetFramework="net45" />
  <package id="Microsoft.CodeAnalysis.Common" version="1.0.0-rc3-20150520-04" targetFramework="net45" />
  <package id="Microsoft.CodeAnalysis.CSharp" version="1.0.0-rc3-20150520-04" targetFramework="net45" />
  <package id="Microsoft.CodeAnalysis.Scripting.Common" version="1.0.0-rc3-20150520-04" targetFramework="net45" />
  <package id="Microsoft.CodeAnalysis.Scripting.CSharp" version="1.0.0-rc3-20150520-04" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="7.0.1-beta3" targetFramework="net45" />
  <package id="PDFsharp-gdi" version="1.50.3638-beta" targetFramework="net45" />
  <package id="Prism.Mvvm" version="1.1.1" targetFramework="net45" />
  <package id="System.Collections.Immutable" version="1.1.36" targetFramework="net45" />
  <package id="System.Reflection.Metadata" version="1.0.21" targetFramework="net45" />
</packages>