<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="4.3.0" targetFramework="net45" />
  <package id="Core2D" version="0.2.0-build1347-alpha" targetFramework="net45" />
  <package id="Core2D.FileSystem.DotNetFx" version="0.2.0-build1347-alpha" targetFramework="net45" />
  <package id="Core2D.Serializer.Newtonsoft" version="0.2.0-build1347-alpha" targetFramework="net45" />
  <package id="Core2D.Serializer.Xaml" version="0.2.0-build1347-alpha" targetFramework="net45" />
  <package id="Core2D.TextFieldReader.CsvHelper" version="0.2.0-build1347-alpha" targetFramework="net45" />
  <package id="Core2D.TextFieldWriter.CsvHelper" version="0.2.0-build1347-alpha" targetFramework="net45" />
  <package id="Core2D.Utilities.Wpf" version="0.2.0-build1347-alpha" targetFramework="net45" />
  <package id="CsvHelper" version="3.0.0-beta7" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="9.0.2-beta2" targetFramework="net45" />
  <package id="Portable.Xaml" version="0.15.0" targetFramework="net45" />
  <package id="SkiaSharp" version="1.56.1-beta" targetFramework="net45" />
  <package id="System.Collections.Immutable" version="1.3.1" targetFramework="net45" />
  <package id="System.Reactive.Core" version="3.0.0" targetFramework="net45" />
  <package id="System.Reactive.Interfaces" version="3.0.0" targetFramework="net45" />
  <package id="System.Reactive.Linq" version="3.0.0" targetFramework="net45" />
</packages>