<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Avalonia" version="0.2.0.1708-alpha" targetFramework="net45" />
  <package id="Avalonia.Desktop" version="0.2.0.1708-alpha" targetFramework="net45" />
  <package id="Avalonia.Skia.Desktop" version="0.2.0.1708-alpha" targetFramework="net45" />
  <package id="Avalonia.Xaml.Behaviors" version="0.2.0.221-nightly" targetFramework="net45" />
  <package id="Portable.Xaml" version="0.13.0" targetFramework="net45" />
  <package id="Serilog" version="1.5.14" targetFramework="net45" />
  <package id="SharpDX" version="3.0.2" targetFramework="net45" />
  <package id="SharpDX.Direct2D1" version="3.0.2" targetFramework="net45" />
  <package id="SharpDX.DXGI" version="3.0.2" targetFramework="net45" />
  <package id="SkiaSharp" version="1.49.4-beta" targetFramework="net45" />
  <package id="Splat" version="1.6.2" targetFramework="net45" />
  <package id="Sprache" version="2.0.0.50" targetFramework="net45" />
  <package id="System.Collections" version="4.0.11" targetFramework="net45" />
  <package id="System.Collections.Immutable" version="1.2.0" targetFramework="net45" />
  <package id="System.Diagnostics.Debug" version="4.0.11" targetFramework="net45" />
  <package id="System.Globalization" version="4.0.11" targetFramework="net45" />
  <package id="System.Linq" version="4.1.0" targetFramework="net45" />
  <package id="System.Reactive" version="3.0.0" targetFramework="net45" />
  <package id="System.Reactive.Core" version="3.0.0" targetFramework="net45" />
  <package id="System.Reactive.Interfaces" version="3.0.0" targetFramework="net45" />
  <package id="System.Reactive.Linq" version="3.0.0" targetFramework="net45" />
  <package id="System.Reactive.PlatformServices" version="3.0.0" targetFramework="net45" />
  <package id="System.Reactive.Windows.Threading" version="3.0.0" targetFramework="net45" />
  <package id="System.Resources.ResourceManager" version="4.0.1" targetFramework="net45" />
  <package id="System.Runtime" version="4.1.0" targetFramework="net45" />
  <package id="System.Runtime.Extensions" version="4.1.0" targetFramework="net45" />
  <package id="System.Threading" version="4.0.11" targetFramework="net45" />
</packages>