<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Portable.Xaml" version="0.14.0" targetFramework="net45" />
  <package id="System.Collections" version="4.0.11" targetFramework="net45" />
  <package id="System.Collections.Immutable" version="1.2.0" targetFramework="net45" />
  <package id="System.Diagnostics.Debug" version="4.0.11" targetFramework="net45" />
  <package id="System.Globalization" version="4.0.11" targetFramework="net45" />
  <package id="System.Linq" version="4.1.0" targetFramework="net45" />
  <package id="System.Resources.ResourceManager" version="4.0.1" targetFramework="net45" />
  <package id="System.Runtime" version="4.1.0" targetFramework="net45" />
  <package id="System.Runtime.Extensions" version="4.1.0" targetFramework="net45" />
  <package id="System.Threading" version="4.0.11" targetFramework="net45" />
  <package id="System.Windows.Interactivity.WPF" version="2.0.20525" targetFramework="net45" />
  <package id="Wpf.Controls.PanAndZoom" version="0.4.1-build31-alpha" targetFramework="net45" />
  <package id="Xceed.Wpf.AvalonDock" version="2.9.15603.14400" targetFramework="net45" />
</packages>